@font-face {
  font-family: 'bebas_neuebold';
  src: url('../App/fonts/bebasneue-bold-webfont.woff2') format('woff2'),
  url('../App/fonts/bebasneue-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'bebas_neueregular';
  src: url('../App/fonts/bebasneue-regular-webfont.woff2') format('woff2'),
  url('../App/fonts/bebasneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
  margin: 0;
  background: url("../App/image/Rectangle.svg");
  font-family: 'bebas_neueregular', sans-serif;
  font-size: calc(1vw + 1em);

}


