.header__logo {
  color: #cfe8c9;
  margin: 10px auto;
  text-align: center;
  font-size: 1.5em;
  font-family: 'bebas_neuebold', sans-serif;
  background: url("./image/head.svg") no-repeat;
  background-size: 100% 100%;
  width: 60%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

